---
import { Hero } from "@/components/landing/hero";
import { Nav } from "@/components/landing/nav";
import BaseLayout from "@/layouts/base-layout.astro";

const { user } = Astro.locals;
---

<BaseLayout
  metadata={{
    title: "Battle Score BR Analytics — Analiza tu escuadrón",
    description: "Plataforma de análisis de rendimiento para escuadrones competitivos de Battle Royale.",
    ignoreTitleTemplate: true,
  }}
>
  <div class="flex flex-1 flex-col">
    <Nav user={user} client:load />
    <div class="flex flex-1 flex-col"><Hero client:load /></div>
  </div>
</BaseLayout>
